@page "/"

<div class="jumbotron">
    <h1>List of Components</h1>
</div>

<div class="row">
    <div class="col-4">
        <BudgetCalculator />
    </div>
    <div class="col-4">
        <TaskList />
    </div>
    <div class="col-4">
        <ISSLocation />
    </div>
</div>
<div class="row">
    <div class="col-4">
        <PeopleInSpace />
    </div>
    <div class="col-4">
        <DataBindingExamples />
    </div>
    <div class="col-4">

    </div>
</div>
